/*
 * Palette colori utilizzati per la GUI di HiveHub
 */
*{
    -hh-black : #000;
    -hh-white : #fff;
    -hh-orange : #ffc403;
    -hh-orange-1: #FFA903;
    -hh-orangeDark: #ff8800;
    -hh-gray : #7a7a7a;
    -hh-gray-1: #C5C4C4;
    -hh-lightgray-1: #e2e2e2;
    -hh-lightgray : #efefef;
    
}